.container {
    //width: calc(100%-30px);
    //width: 100%;
    padding: 0px 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    z-index: 14;
    background-color: white;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25);
    
    position: sticky;
    top: 0;

    .whiteBack {
        width: 100%;
        background-color: white;
        z-index: 13;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .headerPanel {
        padding-top: 3px;
        width: 100%;
        height: 50px;

        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
        z-index: 13;
        a {
            align-self: center;
            margin: auto;
        }
        .logo {
            height: 42px;
        }
    }
}

@media only screen and (min-width: 1366px) {
    .container {
        width: 100%;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        z-index: 12;
        background-color: white;

        position: sticky;
        top: 0;

        .headerPanel {
            width: 1030px;
            height: 60px;

            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }
        .logo {
            height: 42px;
        }
    }
}