.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "HK Grotesk";
}
.paginateContainer {
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  li {
    display: inline-block;
    padding-left: 0;
    list-style: none;

    a,
    span {
      position: relative;
      float: left;
      padding: 6px 12px;
      line-height: 20px;
      text-decoration: none;
      font-weight: 700;
      font-size: 13px;

      color: var(--basic-text-color);
      background-color: var(--basic-back-color);
      border: 1px solid var(--basic-text-color);

      margin-left: 2px;
      margin-right: 2px;
    }
    &.active a {
      color: var(--basic-back-color);
      background-color: var(--basic-text-color);
      border-color: var(--basic-text-color);
    }
    a:hover {
      background-color: var(--basic-text-color);
      color: var(--basic-back-color);
      cursor: pointer;
    }
  }
}

.noneFoundPanel {
  margin-top: 20px;
  height: 160px;
  width: 100%;

  border: 1px solid #2a2a2a;
  font-family: "HK Grotesk";
  font-size: 13px;
  font-weight: 600;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 25%;
    height: auto;
    display: inline-block;
    content: var(--logo-url);
  }

  span {
    margin-top: 7px;
    color: var(--basic-text-color);
  }
}
