.container {
  margin-left: -60px;
  margin-top: 10px;
  color: var(--basic-text-color);
  
  a span {
    font-weight: 600;
    color: var(--basic-text-color);
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: 420px) {
  .container {
    margin-left: 0;
  }
}
