.container {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: 1024px) {
    width: 170px;
    margin-right: 15px;
  }
}
.searchForm {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2px;

  &.shown {
    border: solid 1px #c0c0c0;
    border-radius: 30px;
    //padding: 0 40px 0 15px;
    padding: 0 15px;
  }

  input {
    display: none;
    background-color: var(--basic-back-color);
    border: none;

    @media only screen and (min-width: 1024px) {
      height: 30px;
      width: 120px;

      font-family: "HK Grotesk";
      display: inline-block;
      border: solid 1px #c0c0c0;
      border-radius: 30px;
      padding: 0 40px 0 15px;

      font-size: 14px;
      font-weight: 400;
      color: var(--searchbar-text-color);
    }

    &.show {
      height: 30px;
      width: 135px;

      font-family: "HK Grotesk";
      display: inline-block;
      //border: solid 1px #c0c0c0;
      //border-radius: 30px;
      //padding: 0 40px 0 15px;

      font-size: 14px;
      font-weight: 400;
      color: #5e6b6e;
      background-color: white;
    }
  }
  button {
    padding: auto 10px;

    border: none;
    cursor: pointer;
    background-color: transparent;
  }

  .buttonContent {
    cursor: pointer;

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    width: 22px;
    height: 22px;

    &.shown {
      width: 18px;
      height: 18px;
      margin-left: 10px;

      @media only screen and (min-width: 1024px) {
        margin-left: -33px;
      }
    }
  }
}

.buttonx {
  background-image: var(--x-button);
}
.buttonGlass {
  background-image: url("./magglass-black.png");
}
