.container {
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .imgContainer {
        height: 100%;
        width: 96px;
        position: relative;
        overflow: hidden;

        img {
            height: 100%;
            min-width: 100%;
            //height: 100%;
            cursor: pointer;
        }
    }
}

.titleContainer {
    width: calc(100% - 89px);
    font-family: 'HK Grotesk';
    margin-left: 7px;
    
    .title {
        margin: 0;
        //margin-top: 3px;
        /*height: 55px;*/
        color: black;
        font-size: 14px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
    .date {
        display: none;
    }
}

@media only screen and (min-width: 1366px) {
    .container {
        height: 210px;
        display: initial;
        
        a {
            width: 100%;
            display: inline-block;
        }
        .imgContainer {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 130px;

            img {
                width: 100%;
                min-height: 100%;
                height: auto;
            }
        }
        
    }
    .titleContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        font-family: 'Cabin';
        margin-left: 0;
        /*border-left: 3px solid #e10600;*/
        /*padding: 4px;*/   
        
        .title {
            margin: 0;
            margin-top: 3px;
            /*height: 55px;*/
            color: black;
            font-size: 14px;

            &:hover {
                text-decoration: underline;
            }
        }
        .date {
            display: inline-block;
            margin-top: 5px;
            background-color: rgba(255,255,255, 0.55);
            color: #606060;
            font-size: 13px;
            font-weight: 400;
            font-family: 'HK Grotesk','Source Sans Pro';
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
        }
    }
}