.container {
  display: none;

  @media only screen and (min-width: 1024px) {
    height: 20px;
    width: 170px;

    display: flex;
    flex-direction: row;

    .item {
      height: 18px;
      margin: 0 2px;
      transition: ease 0.2s;

      img {
        position: relative;
        height: 15px;
        margin: 0 2px;
        margin-top: 3px;
        display: inline-block;

        &:hover {
          cursor: pointer;
          margin-top: -3px;
        }

        &.fbImg {
          content: var(--fb-img-url);
        }
        &.instaImg {
          content: var(--insta-img-url);
        }
        &.youtubeImg {
          content: var(--youtube-img-url);
        }
      }
    }
  }
}
