.container {
  margin: 30px 0;
}
.panel {
  width: 100%;
  img {
    width: 290px;
    display: block;
    margin: auto;
  }
}

@media only screen and (min-width: 340px) {
  .container {
    margin: 10px 0;
  }
  .panel img{
    width: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: none;
  }
  .panel {
    display: inline-block;
    background-color: none;
    height: 100%;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
