.container {
  margin: 30px 0;
}
.panel {
  width: 100%;
  img {
    width: 290px;
    display: block;
    margin: auto;
  }
}

@media only screen and (min-width: 340px) {
  .container {
    margin: 10px 0;
  }
  .panel img{
    width: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 100%;
    margin: 0 auto;
    background-color: none;
  }
  .panel {
    display: initial;
    background-color: none;
  }
}
