@media only screen and (min-width: 1024px) {
    .stickySideBar {
        position: -webkit-sticky;
        position: sticky;
        top: 120px;
        margin-bottom: 10px;
        height: calc(100vh - 120px);
        //height: calc(100% - )
    }
}