.ButtonContainer {
    width: 33.33%;
    position: relative;

    &:hover .ArrowUp{
        border-bottom: 5px solid white;
    }
}

.WidgetButton {
    height: 33px;
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    color: black;
    transition: ease-in-out 0.2s;
    background-color: #f2f2f2;


    span {

        font-family: 'HK Grotesk','Source Sans Pro';
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
    }

    &:hover, &.selected {
        background-color: #202020;
        cursor: pointer;
        color: white;
    }
}
.ArrowUp {
    position: absolute;
    margin: auto;
    margin-top: -5px;
    margin-left: calc(50% - 12px);
    z-index: 5;
    width: 0px; 
    height: 0px; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 5px solid transparent;
    transition: ease-in-out 0.2s;

    &.selected{
        border-bottom: 5px solid white;
    }
}