.container {
  //background-color: var(--table-back-color);
  background-color: var(--calendar-header-color);
  //padding: 15px;

  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  &.opened {
    background-color: var(--table-back-color);
    color: white;
  }
}
.header {
  
  font-family: "HK Grotesk";
  font-size: 15px;
  font-weight: 600;
  color: var(--basic-text-color);

  padding: 10px 15px;
  background-color: var(--calendar-header-color);
  //border: 1px solid var(--lines-color);
  //border-bottom: none;

  cursor: pointer;
  //font-family: "HK Grotesk"
  transition-delay: 0.1s;
  i {
    margin-right: 15px;
  }

  &:hover,
  &.opened {
    background-color: var(--table-back-color);
    color: white;
  }
  &.opened {
    border-bottom: none;
    padding-bottom: 30px;
  }
}
.contentBox {
  background-color: var(--table-back-color);
  transition: ease-in-out 0.25s;
  &.opened {

    &.venueResult, &.champResult {
      height: 540px;
    }
    &.teamResult {
      height: 280px;
    }
  }
  &.closed {
    height: 0px;
  }
}


.table {
  font-family: "HK Grotesk";
  font-size: 15px;
  padding: 0 10px 10px 10px;
  color: white;
  overflow: scroll;
  span {
    display: inline-block;
  }
}
.tableHeader {
  font-weight: 600;
}
.tableRow {
  height: 24px;
  width: 560px;
}

.position {
  width: 40px;
  text-align: center;
}
.name {
  width: 140px;
  width: calc(50% - 140px)
}
.team{
  width: 130px;
  width: calc(50% - 180px)
}
.laps {
  width: 80px;
  text-align: center
}
.split {
  width: 100px;
}
.points {
  width: 60px
}

@media only screen and (min-width: 1024px) {
  .table {
    overflow: hidden;
  }
  .tableRow {
    width: 100%;
  }
}