.container {
  background-color: var(--table-back-color);
  padding: 15px;
}
.header {
  
  font-family: "HK Grotesk";
  font-size: 15px;
  font-weight: 600;
  color: white;

  padding: 10px 15px;
  background-color: var(--calendar-header-color);

  cursor: pointer;
  font-size: 15px;
  color: var(--basic-text-color);
  transition-delay: 0.1s;
  i {
    margin-right: 15px;
  }

  &:hover,
  &.opened {
    background-color: var(--table-back-color);
    color: white;
  }
  &.opened {
    border-bottom: none;
    padding-bottom: 30px;
  }
}
.contentBox {
  overflow: scroll;
  padding-left: 15px;
  background-color: var(--table-back-color);
  transition: ease-in-out 0.25s;

  display: flex;
  flex-direction: row;
  //align-items: center;
  justify-content: space-between;

  &.opened {
    //display: flex;
    height: 180px;
    //transition: ease-in-out 0.2s;
  }
  &.closed {
    //display: none;
    height: 0px;
    //transition: ease-in-out 0.2s;
  }
}
.table {
  margin-top: 15px;
  font-family: "HK Grotesk";
  font-size: 15px;
  color: white;

  span {
    display: inline-block;
  }
}
.tableHeader {
  font-weight: 600;
}
.tableRow {
  height: 24px;
}
.position {
  width: 40px;
  text-align: center;
}
.name {
  width: 140px;
  width: calc(50% - 140px)
}
.team{
  width: 130px;
  width: calc(50% - 180px)
}
.laps {
  width: 80px;
  text-align: center
}
.split {
  width: 100px;
}
.points {
  width: 60px
}