.container {
  margin-top: 50px;

  width: calc(100% - 20px);
  position: absolute;
  bottom: 0;
  padding: 17px 10px 13px 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 90px;
  background-color: var(--footer-back-color);
  color: #f0f0f0;

  font-family: "HK Grotesk";
  font-weight: 400;
  font-size: 13px;
  span {
    padding: 0 10px;
    color: #f0f0f0;
  }
}
.firstRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  a {
    color: #f0f0f0;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: 375px) {
  .container {
    height: 65px;
  }
  .firstRow {
    flex-direction: row;
  }
}
