.outerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 635px;

  @media only screen and (min-width: 1280px) {
    width: 673px;
  }
}
.container {
  width: 310px;

  @media only screen and (min-width: 1280px) {
    width: 320px;
  }
}
.dataItem {
  font-family: "HK Grotesk", "Source Sans Pro";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font-size: 14px;
  margin: 0;
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;

  display: flex;
  flex-direction: row;

  span {
    margin: 0px;
    padding: 0px 5px;
    display: block;
    color: var(--basic-text-color);
  }
  .position {
    font-weight: 600;
    //color: var(--basic-text-color);
  }
}
.driverBox {
  margin: 0px;
  margin-right: 10px;
  height: 36px;
  border-left: 3px solid #d4d4d4;
  &.red {
    border-left: 3px solid #e10600;
  }
  .name {
    height: 18px;
    font-weight: 600;
  }
  .team {
    height: 18px;
  }
}
.driverBoxWidthLV {
  width: 160px;

  @media only screen and (min-width: 1280px) {
    width: 170px;
  }
}
.driverBoxWidthC {
  width: 200px;

  @media only screen and (min-width: 1280px) {
    width: 220px;
  }
}