@font-face {
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/HKGrotesk/hkgrotesk-regular-webfont.ttf") format("truetype"),
    url("/fonts/HKGrotesk/hkgrotesk-regular-webfont.woff") format("woff"),
    url("/fonts/HKGrotesk/hkgrotesk-regular-webfont.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "HK Grotesk";
  font-weight: 600;
  src: url("/fonts/HKGrotesk/hkgrotesk-semibold-webfont.ttf") format("truetype"),
    url("/fonts/HKGrotesk/hkgrotesk-semibold-webfont.woff") format("woff"),
    url("/fonts/HKGrotesk/hkgrotesk-semibold-webfont.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "HK Grotesk";
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/HKGrotesk/hkgrotesk-bold-webfont.ttf") format("truetype"),
    url("/fonts/HKGrotesk/hkgrotesk-bold-webfont.woff") format("woff"),
    url("/fonts/HKGrotesk/hkgrotesk-bold-webfont.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Cabin";
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/Cabin/cabin-bold.ttf") format("truetype"),
    url("/fonts/Cabin/cabin-bold.woff") format("woff"),
    url("/fonts/Cabin/cabin-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: bold;
  font-weight: 900;
  src: url("/fonts/FontAwesome/fa-solid-900.ttf") format("truetype"),
    url("/fonts/FontAwesome/fa-solid-900.woff") format("woff"),
    url("/fonts/FontAwesome/fa-solid-900.woff2") format("woff2");
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: bold;
  font-weight: 400;
  src: url("/fonts/FontAwesome/fa-regular-400.ttf") format("truetype"),
    url("/fonts/FontAwesome/fa-regular-400.woff") format("woff"),
    url("/fonts/FontAwesome/fa-regular-400.woff2") format("woff2");
}

/* EXPORT */

/*
.wp-block-embed-youtube div {
  position: relative !important;
  padding-bottom: 56.25% !important;
  height: 0 !important;
}
.wp-block-embed-youtube div iframe {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.instagram-media {
  min-width: 278px !important;
}
.wp-embedded-content {
  max-height: 230px !important;
  width: 100%;
}
@media only screen and (min-width: 1260px) {
  .wp-embedded-content {
    max-height: 360px !important;
    width: 100%;
  }
} */ /*
.wp-block-gallery {
  display: none;
}*/
