.container {
  margin: 10px 0;
}
.panel {
  width: 100%;

  img {
    width: 280px;
    display: block;
    margin: auto;
  }
}

@media only screen and (min-width: 340px) {
  .panel img{
    width: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 100%;
    max-width: 650px;
    margin: 25px auto;
    
  }
  .panel {
    img {
      width: 100%;
    }
  }
}
