.container {
    margin-right: 0px;
    margin-left: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    
    a {
        font-size: 14px;
        text-decoration: none;
        color: black;
        font-family: 'Cabin','Source Sans Pro';
        font-weight: 600;
    }

    img {
        margin-bottom: -1px;
        height: 11px;
        width: 11px;
        padding-left: 0px;
    }

    &:hover {
        text-decoration: underline;
    }
}