$rowsDivider: 1px solid #e0e0e0;

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    font-family: 'HK Grotesk';
    font-size: 13px;
}
.venueBlock {
    margin-left: 10px;
    padding: 5px;

    .venueTitle {
        margin: 0;

        font-size: 16px;
        font-weight: 600;
    }
    .venueDate {
        margin: 0;

        font-size: 14px;
        //color: black;
    }
}
.resultsRow {
    margin: 0;
    padding: 6px 5px;

    border-top: $rowsDivider;
    color: black;

    &.noBorder {
        margin-top: 0;
        border: none;
    }

    &.header {
        text-align: start;
        height: 20px;
        color: #000;
        font-weight: 600;
        background-color: #f2f2f2;
        border: none;
    }
    .position {
        padding-left: 5px;
        width: 30px;

        text-align: center;
        display: inline-block;
        font-weight: 600;
        color: #000;

        &.header {
            text-align: start;
        }
    }
    .driver {
        display: inline-block;
        font-weight: 600;
        color: #000;
        width: 150px;
    }
    .time {
        display: inline-block;
        width: 110px;
    }
}

@media only screen and (min-width: 380px) {
    .resultsRow {
        .driver {
            padding-left: 10px;
            width: 190px;
        }
    }
}

@media only screen and (min-width: 1366px) {
    .resultsRow .driver {
        display: inline-block;
        font-weight: 600;
        color: #000;
        width: 150px;
    }
    .time {
        display: inline-block;
        width: 110px;
    }
}