.newsBlock {
  .newsItemContainer {
    font-family: "HK Grotesk";
    font-size: 15px;
    border-top: 1px solid var(--sub-title-color);
    margin: 0 0;

    &:first-of-type {
      border-top: none;
    }

    padding: 10px;

    .date {
      font-size: 14px;
      font-weight: 600;
      color: var(--sub-title-color);
    }

    .text {
      line-height: 24px;
      color: var(--article-text-color);
    }
    .embed {
      width: 100%;

      figure {
        width: 100%;
        margin: 25px 0;
    
        img {
          width: 100%;
          height: auto;
          margin: 0;
        }
        figcaption {
          font-family: "HK Grotesk";
          font-size: 12px;
          line-height: 18px;
          color: var(--sub-title-color);
          text-align: right;
        }
      }
      iframe {
        width: 100%;
        margin: 0;
        min-height: 380px;
      }
      twitter-widget {
        margin: 10px auto;
      }
    }
  }
}
