$table-back-color: var(--table-back-color);
$table-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
$table-circle-color: #4a4a4a;
$radius-mobile: 300px;
$radius-pc: 380px;

.briefInfoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.driverPortrait {
  width: 100%;
}

.tableContainer {
  width: 100%;

  margin-left: 0;
  margin-top: 15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  font-family: "HK Grotesk";

  .table {
    background-color: $table-back-color;
    padding: 25px;
    color: white;
    box-shadow: $table-shadow;
    position: relative;
    overflow: hidden;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 3px 0;

    span {
      width: 55%;
      font-size: 14px;
      z-index: 2;

      &:first-of-type {
        width: 45%;
        font-weight: 700;
      }
    }
  }
}

.numberContainer {
  display: none;
}

.titleContainer {
  font-family: "Cabin", "Source Sans Pro";
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  .title {
    margin: 0px;
    padding: 5px;
    font-size: 18px;
    color: var(--basic-text-color);
  }
}
.halfCircle {
  position: absolute;
  left: 45%;
  top: 5%;

  width: $radius-mobile;
  height: $radius-mobile;
  border-top-left-radius: $radius-mobile;
  border-top-right-radius: $radius-mobile;
  border-bottom-left-radius: $radius-mobile;
  border-bottom-right-radius: $radius-mobile;
  border: 45px solid $table-circle-color;
  z-index: 1;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.biography {
  font-family: "HK Grotesk";
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-text-color);
}

@media only screen and (min-width: 1024px) {
  .driverPortrait {
    width: 240px;
    height: 240px;
  }
  .tableContainer {
    margin-top: 0;
    margin-left: 6%;
    justify-content: flex-end;
    width: calc(94% - 240px);
  }

  .numberContainer {
    width: 100%;
    height: calc(216 / 115 * 100);
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    img {
      width: 100px;
      height: auto;
      justify-self: flex-end;
    }
  }

  .halfCircle {
    left: 38%;
    top: 11%;

    width: $radius-pc;
    height: $radius-pc;
    border-top-left-radius: $radius-pc;
    border-top-right-radius: $radius-pc;
    border-bottom-left-radius: $radius-pc;
    border-bottom-right-radius: $radius-pc;
    border: 45px solid $table-circle-color;
    z-index: 1;

  }
}

@media only screen and (min-width: 1366px) {
  .driverPortrait {
    width: 260px;
    height: 260px;
  }
  .tableContainer {
    width: calc(94% - 260px);
  }
}
