.title {
  margin: 0;

  font-family: "Cabin";
  font-size: 18px;
  color: var(--basic-text-color);

}
.imageContainer {
  font-family: "HK Grotesk";

  img {
    width: 100%;
  }
  span {
    display: block;
    text-align: end;
    margin-right: 0;

    font-size: 12px;
    color: var(--sub-title-color);
  }
}
.authorContainer {
  font-family: "HK Grotesk";
  font-size: 14px;
  color: var(--sub-title-color);
}
.articleContentUpper,
.articleContentLower {
  font-family: "HK Grotesk";
  font-size: 16px;
  line-height: 28px;
  color: var(--article-text-color);
  p {
    padding: 3px 0;
  }
  a {
    text-decoration: none;
    color: #e10600;
  }
}
.articleContentUpper p:first-of-type {
  font-weight: 600;
}

@media only screen and (min-width: 1024px) {
  .stickyWidget {
        position: -webkit-sticky;
        position: sticky;
        top: 120px;
        margin-bottom: 10px;
        height: calc(100vh - 120px);
        //height: calc(100% - )
    }
}